<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Home - Shopme Admin')" >
    <!--
     PROBLEM:
     navbar responsive menu toggle button was not working
     SOLUTION:
     I changed data-toggle to data-bs-toggle and data-target to data-bs-target
     I had added jQuery and bootstrap in the incorrect order in my header below.
     I had to load jQuery BEFORE bootstrap and this solved the issue.
     -->
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Myshop Control Panel</h2>
        Welcome
        <a th:href="@{/account}"
           sec:authentication="principal.fullname"></a>
        <span sec:authentication="principal.authorities"></span>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>